* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  padding: 30px 0;
  background: #12cbc4;
}

header h1 {
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

main {
  padding: 30px 0;
}

h1,
h2,
p {
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

p {
  font-size: 16px;
  line-height: 150%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  color: #fff;
  font-size: 20px;
}
